node_modules
.env*

# Dev MongoDB
backend/docker-setup/mongo/dev-volume/*
!backend/docker-setup/mongo/dev-volume/.gitkeep

# Prod MongoDB
backend/docker-setup/mongo/prod-volume/*
!backend/docker-setup/mongo/prod-volume/.gitkeep

# Ignore Certbot volumes
certbot/letsencrypt/*
certbot/lib/*
certbot/log/*