node_modules
.env*

# Ignore MongoDB data
backend/docker-setup/mongo/mongo-volume/*
!backend/docker-setup/mongo/mongo-volume/.gitkeep

# Ignore Certbot volumes
certbot/letsencrypt/*
certbot/lib/*
certbot/log/*